.todo {
  width: 700px;
  height: auto;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.title {
  text-align: center;
  color: var(--white);
  margin: 15px 0;
}
.button {
  padding: 10px 18px;
  color: var(--primary);
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s;
  margin-top: 20px;
}

.button:active {
  transform: translateY(-15px);
}
.input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: none;
  outline-color: var(--primaryl);
  border-radius: 8px;
}
.card {
  margin-top: 20px;
}
.cardItem {
  width: 100%;
  padding: 20px;
  color: var(--white);
  border: 1px solid var(--border);
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardItem p {
  font-size: 18px;
  text-transform: uppercase;
}

.delBtn > button {
  background-color: inherit;
  color: white;
  outline-color: inherit;
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid white;
  transition: all 0.3s;
}

.delBtn > button:active {
  transform: translateX(-10px);
}
