@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--dark-blue);
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: blue;
  --white: #ffffff;
  --black: black;
  --border: rgb(215, 215, 215);
  --dark-blue: rgb(22, 22, 70);
}
